/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font: 16px/1.5 sans-serif;
}

.mrizka {
	display: flex;
	flex-wrap: wrap;
	margin: 30px 0;
	border: 5px solid lightskyblue;
}

.ctverec {
	flex: 1 1 30%;
	padding: 20px;
	border: 1px solid gray;
	background-color: #e5e5e5;
}

.ctverec img {
	width: 100%;
}

/*************************************************/

/*
CSS Selektory:
--------------
:first-child			první potomek
:last-child				poslední potomek
:nth-child(n)			n-tý potomek
:nth-child(3n)	  každý 3. potomek
:nth-child(3n+2)	vždy 2. potomek z každé trojice
*/

.ctverec:first-child {					/*čtverec, který je 1. potomkem svého rodiče*/
	background-color: blue;
}

.ctverec:last-child {					/*čtverec, který je posledním potomkem svého rodiče*/
	background-color: yellowgreen;
}

.ctverec:nth-child(5) {					/*patý čtverec*/
	background-color: magenta;
}

.ctverec:nth-child(3n) {				/*každý třetí čtverec*/
	background-color: magenta;
}


.ctverec:nth-child(3n + 2) {				/*každý třetí čtverec + 2*/
	background-color: goldenrod;
}

tr:nth-child(even) {						/*každý sudý*/
	background-color: pink;
}

tr:nth-child(odd) {							/*každý lichý*/
	background-color: aquamarine;
}